asciidoc-capsule-prepro-cda-deck.pdf
informatisation-prepro-cda-deck.pdf
prepro-cda-deck.pdf
slides-context.yml
!asciidoc-capsule-prepro-cda-deck.adoc
!informatisation-prepro-cda-deck.adoc
!prepro-cda_m1-p1-s1-s1_deck.adoc